/* color and font styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .footer, .top {
  background-color: #1f2937;
}

.top .top-left h1  {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.top .top-left p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ol {
  list-style: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

.bottom .call button {
  /* add white border to 2nd button */
  border: 3px solid #f9faf8;
}

.placeholder {
  background-color: #888;
  color: white;
}

.call {
  background-color: #3882f6;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937
}

.quote {
  background-color: #e5e7eb;
}

.card-img {
  border: 4px solid #3882f6;
  border-radius: 12px;
  width: 180px;
  height: 180px;
}

blockquote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 100;
}

.footer {
  color: #f9faf8;
}

/* body flex */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* header arrangment */
.header {
  display: flex;
  align-items: center;
}

ol {
  margin-left: auto;
  display: flex;
  margin-right: 160px;
}

li {
  margin-left: 24px;
}

.header-logo {
  margin-left: 160px;
}

/* top arrangment */
.top {
  display: flex;
}

.top div {
  width: 50%;
}

.top-left, .top-right {
  padding: 90px 0px;
}

.top-left h1, p, button {
  margin: 0px 40px 0px 160px;
}

.top div .placeholder {
  width: 460px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left button {
  margin-top: 12px;
}

/* buttons styling */
button {
  padding: 8px 32px;
  font-weight: 900;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

/* info arrangment */
.info {
  margin: 24px auto 72px;
}

h2 {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 188px;
}

.card p {
  margin: 12px 0px;
}

/* quote arrangment */
.quote {
  padding: 80px 160px;
}

figcaption {
  padding-right: 120px;
  text-align: end;
  font-size: 24px;
  font-weight: 900;
}

/* bottom arangment */
.call {
  margin: 80px 160px;
  padding: 60px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.call-text h3 {
  margin: 0px;
  font-size: 24px;
  color: #f9faf8;
}

.call-text p {
  color: #e5e7eb;
  margin-left: 0px;
}


/* footer arrangment */
.footer {
  padding: 24px;
  text-align: center;
}